*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  .canvas-container {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid pink;
    .canvas {
      position: absolute;
      background-color: grey;
      width: 440px;
      height: 300px;
      @media (max-width: 600px) {
        width: 300px;
        height: 200px;
      }
      image-rendering: pixelated;
      transform: translate(-50%, -50%);
    }
    .button {
      position: absolute;
      width: 440px;
      height: 40px;
      @media (max-width: 600px) {
        width: 300px;
        height: 20px;
        top: 100px;
      }
      top: 130px;
      transform: translate(-50%, -50%);
      visibility: hidden;
      border: none;
      background-color: black;
      color: white;
    }
  }
}
